.nav_button {
    padding: 8px 20px;
    border: 1px solid #8d8d8d;
    border-radius: 16px;
    margin: 5px 2px;
}

.selectTrack {
    color: #6f6f6f;
    border-bottom: 1px solid rgba(122, 132, 124, 0.78);
}

.looper {
    max-width: 450px;
    border: 1px solid #d7d7d7;
    overflow: hidden;
}

.dropdown-content {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}